<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas


**Same assignment as a [Kaggle Kernel](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset) + [solution](https://www.kaggle.com/kashnitsky/a1-demo-pandas-and-uci-adult-dataset-solution).**

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg).**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max.columns", 100)
# to draw pictures in jupyter notebook
%matplotlib inline
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings

import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("../../data/adult.data.csv")
data.head()
data.shape

(32561, 15)

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
data.sex.value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
women = data[data["sex"] == 'Female']
women.age.mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [5]:
germans = data[data["native-country"] == 'Germany']
percent_german = len(germans) / len(data) * 100
print(percent_german)

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [6]:
# You code here
df = data
df['hi_earner'] = df['salary'].map({'<=50K': 0, '>50K': 1})
hi_earner_ages = df[df['hi_earner'] == 1]['age']
hi_earner_mean = hi_earner_ages.mean()
hi_earner_std = hi_earner_ages.std()
print(f'High earners are {hi_earner_mean:.2f} years old on average.',
      f'The standard deviation is {hi_earner_std:.2f}.', sep='\n')

High earners are 44.25 years old on average.
The standard deviation is 10.52.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [7]:
# You code here
POST_HS = ['Bachelors', 'Masters', 'Doctorate', 'Assoc-acdm', 'Assoc-voc',
           'Prof-school']
df['at_least_hs'] = df['education'].apply(lambda x: 1 if x in POST_HS else 0)
df.at_least_hs.value_counts()

at_least_hs
0    22045
1    10516
Name: count, dtype: int64

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [8]:
# display age statistics for each race
df.groupby(['race'])['age'].describe()
df.groupby(['sex'])['age'].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [18]:
# trim df to men
men = df[df['sex'] == 'Male']
married_men = men[df['marital-status'].str.startswith('Married')]
married_men.head()
# bachelors are the rest of the men
bachelors = men[~df['marital-status'].str.startswith('Married')]
bachelors.head()

rich_married = married_men[married_men['hi_earner'] == 1]
rich_bachelors = bachelors[bachelors['hi_earner'] == 1]

# display the percentage of rich married
# and rich bachelors
rich_married_percent = len(rich_married) / len(married_men) * 100
rich_bachelors_percent = len(rich_bachelors) / len(bachelors) * 100
print(f'Percentage of rich married men: {rich_married_percent:.2f}%',
        f'Percentage of rich bachelors: {rich_bachelors_percent:.2f}%', sep='\n')

Percentage of rich married men: 44.05%
Percentage of rich bachelors: 8.45%

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [22]:
q9_features = ['hours-per-week', 'hi_earner']
q9_df = df[q9_features]

# find the max num of hours worked per week
max_hours = q9_df['hours-per-week'].max()

# count of people working max hours per week
max_hours_count = q9_df[q9_df['hours-per-week'] == max_hours].shape[0]

# count of people working max hours per week and are high earners
max_hours_rich_count = q9_df[(q9_df['hours-per-week'] == max_hours) &
                             (q9_df['hi_earner'] == 1)].shape[0]

# percentage of people working max hours per week and are high earners
max_hours_rich_percent = max_hours_rich_count / max_hours_count * 100
print(f"""a. the max num hrs worked per week is {max_hours}.\n
        b. {max_hours_count} people work the max hours per week.\n
      c. {max_hours_rich_percent:.2f}% of people working the maximum hours per week
      are high earners.
      """)

a. the max num hrs worked per week is 99.

        b. 85 people work the max hours per week.

      c. 29.41% of people working the maximum hours per week
      are high earners.

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [29]:
q10_features = ['native-country'] + q9_features
q10_df = df[q10_features]
# count the average time of work for those who earn:
# a) more than 50K per year
# b) less than 50K per year
# for each country

avg_time_of_work_by_country_and_hi_low_earner = q10_df.groupby(
    ['native-country', 'hi_earner'])['hours-per-week'].mean()

# c) show japan's crosstab
japan_avgs = avg_time_of_work_by_country_and_hi_low_earner['Japan']
print(japan_avgs)
print(avg_time_of_work_by_country_and_hi_low_earner)

hi_earner
0    41.000000
1    47.958333
Name: hours-per-week, dtype: float64
native-country  hi_earner
?               0            40.164760
                1            45.547945
Cambodia        0            41.416667
                1            40.000000
Canada          0            37.914634
                               ...
United-States   1            45.505369
Vietnam         0            37.193548
                1            39.200000
Yugoslavia      0            41.600000
                1            49.500000
Name: hours-per-week, Length: 82, dtype: float64